.vscode/
.idea/
__pycache__/
*.egg-info
build
dist

# files from script downloads
openfold/resources/
tests/test_data/
cutlass/
*.txt
*.png
*.pdb
*.json
*.pkl
*.fasta
*.sto
*.a3m
*.hhr

# Local OS junk
.DS_Store

# Local experiment outputs
outputs/
*.pt
*.npy
